{% extends 'base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block body %}
    <h1>Gallerie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gallerie.id }}</td>
            </tr>
            <tr>
                <th>Img1</th>
                <td>{{ gallerie.img1 }}</td>
            </tr>
            <tr>
                <th>Img2</th>
                <td>{{ gallerie.img2 }}</td>
            </tr>
            <tr>
                <th>Img3</th>
                <td>{{ gallerie.img3 }}</td>
            </tr>
            <tr>
                <th>Img4</th>
                <td>{{ gallerie.img4 }}</td>
            </tr>
            <tr>
                <th>Img5</th>
                <td>{{ gallerie.img5 }}</td>
            </tr>
            <tr>
                <th>Img6</th>
                <td>{{ gallerie.img6 }}</td>
            </tr>
            <tr>
                <th>Img7</th>
                <td>{{ gallerie.img7 }}</td>
            </tr>
            <tr>
                <th>Img8</th>
                <td>{{ gallerie.img8 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gallerie_index') }}">Rétour</a>

    <a href="{{ path('gallerie_edit', {'id': gallerie.id}) }}">Modifier</a>

    <!-- {{ include('gallerie/_delete_form.html.twig') }} -->
{% endblock %}
