<!DOCTYPE html>
<html>

    <head>
      <meta charset="utf-8">
      <title>{% block title %}AKWABA EIS {% endblock %}</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">

      <!-- Favicons -->
      <!-- <link href=" {{asset('public/frontend/img/favicon.png') }} " rel="icon">
      <link href=" {{asset('public/frontend/img/apple-touch-icon.png') }} " rel="apple-touch-icon"> -->

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

      <!-- Bootstrap CSS File -->
      <link href=" {{asset('public/frontend/lib/bootstrap/css/bootstrap.min.css') }} " rel="stylesheet">

      <!-- Libraries CSS Files -->
      <link href=" {{asset('public/frontend/lib/font-awesome/css/font-awesome.min.css') }} " rel="stylesheet">
      <link href=" {{asset('public/frontend/lib/animate/animate.min.css') }} " rel="stylesheet">
      <link href=" {{asset('public/frontend/lib/venobox/venobox.css') }} " rel="stylesheet">
      <link href=" {{asset('public/frontend/lib/owlcarousel/assets/owl.carousel.min.css') }} " rel="stylesheet">

      <!-- Main Stylesheet File -->
        {% block stylesheets %}<link href=" {{asset('public/frontend/css/style.css') }} " rel="stylesheet">{% endblock %}

      <!-- =======================================================
        Theme Name: TheEvent
        Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
        Author: BootstrapMade.com
        License: https://bootstrapmade.com/license/
      ======================================================= -->
    </head>
    <!--==========================
      Header
    ============================-->
    <header id="header">
      <div class="container">

        <div id="logo" class="pull-left">
          <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="{{path('default')}}"><span id="orange">E</span>I<span>S</span> </a></h1>
          <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a> -->
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="{{path('default')}}" >Accueil</a></li>
            <!-- <li><a href="#about">About</a></li> -->
            <li><a href="{{ path('produit_index') }} ">Nos produits</a></li>
            <li><a href="{{ path('service_index') }}">Nos servives</a></li>
            <li><a href="{{ path('realisation_index') }}">Nos realisations</a></li>
            <!-- <li><a href="#schedule">Schedule</a></li>


            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#supporters">Sponsors</a></li> -->
            <li><a href="{{ path('contact_new') }}">Contact</a></li>
            <li><a href="{{path('default')}}">Autres</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="buy-tickets"><a href="{{path('app_logout')}}"> Déconnexion </a></li>
            {% else %}
                <li class="buy-tickets"><a href="{{path('app_login')}}"> Connexion </a></li>
          {% endif %}

          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->
    <body>
        {% block body %}


      {% endblock %}
      <!--==========================
        Footer
      ============================-->
      <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-3 col-md-6 footer-info">
                <img src="img/logo.png" alt="TheEvenet">
                <p> Slogan EIS. </p>
              </div>

              <div class="col-lg-6 col-md-6 footer-links">
                <h4>Droits d'auteur</h4>
                <ul>
                  <!-- <li><i class="fa fa-angle-right"></i> <a href="#">Accueil</a></li>
                  <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                  <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                  <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>-->
                  <li><i class="fa fa-angle-right"></i> <a href="#">&copy; Copyright <strong>EIS</strong>. All Rights Reserved</a></li>
                </ul>
              </div>

              <!-- <div class="col-lg-3 col-md-6 footer-links">
                <h4>Liens utiles</h4>
                <ul>
                 <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                  <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                  <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                  <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                  <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
              </div> -->

              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Contacts reseaux sociaux</h4>
                <!-- <p>
                  A108 Adam Street <br>
                  New York, NY 535022<br>
                  United States <br>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> info@example.com<br>
                </p> -->

                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
00 F
Forfait courant
Forfait Internet_Residebtiel_30Go

30 Go/19 000 F
Voir tous les forfaits
Mon compte

Numéro: 74868061

Crédit: 20181 FCFA
              </div>

            </div>
          </div>
        </div>

        <div class="container">
          <div class="copyright">
            <!-- &copy; Copyright <strong>EIS</strong>. All Rights Reserved -->
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
            -->
            Codé avec <3  par  <a href="#">Abla</a>
          </div>
        </div>
      </footer><!-- #footer -->
        {% block javascripts %}
        <!-- JavaScript Libraries -->
        <script src=" {{ asset('public/frontend/lib/jquery/jquery.min.js') }} "></script>
        <script src=" {{ asset('public/frontend/lib/jquery/jquery-migrate.min.js') }} "></script>
        <script src=" {{ asset('public/frontend/lib/bootstrap/js/bootstrap.bundle.min.js') }} "></script>
        <script src=" {{ asset('public/frontend/lib/easing/easing.min.js') }} "></script>
        <script src=" {{ asset('public/frontend/lib/superfish/hoverIntent.js') }} "></script>
        <script src=" {{ asset('public/frontend/lib/superfish/superfish.min.js') }} "></script>
        <script src=" {{ asset('public/frontend/lib/wow/wow.min.js') }} "></script>
        <script src=" {{ asset('public/frontend/lib/venobox/venobox.min.js') }} "></script>
        <script src=" {{ asset('public/frontend/lib/owlcarousel/owl.carousel.min.js') }} "></script>

        <!-- Contact Form JavaScript File -->
        <script src="{{asset('public/frontend/contactform/contactform.js')}} "></script>

        <!-- Template Main Javascript File -->
        <script src="{{asset('public/frontend/js/main.js')}}"></script>
      {% endblock %}
    </body>
</html>
